!!!5
html
  head
    title #{title} - #{site.name}
    link(rel='stylesheet', href='/css/style.css')
  body
    header.page-head
      a(class="logo", href="/") #{site.name}
      .page-cta
        - if(site.github)
          a(class="github", href=site.github) See on github
        - if(site.url)
          a(class="url", href=site.url) Site
        - if(site.download)
          a(class="download", href=site.download) Download
    nav.page-nav
      div.main-menu
        ul
          li
            a(class="manifesto", href="/manifesto") Manifesto
          li
            a(class="components", href="/components") Components
          li
            a(class="develop", href="/develop") Develop
          li
            a(class="discuss", href="/discuss") Discuss
      div.sub-menu
        ul
          li Image
            ul
              li
                a(href="#") Responsive

    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='/js/script.js')