!!!5
html
  head
    title #{title} - #{site.name}
    link(rel='stylesheet', href='/css/style.css')
  body(class=site.menu && 'leftNav' || '')
    header.page-head
      a(class="logo", href="/") #{site.name}
      .page-cta
        - if(site.github)
          a(class="github", href=site.github) See on github
        - if(site.code)
          a(class="code", href=site.code) Code
        - if(site.download)
          a(class="download", href=site.download) Download
    
    - if(site.menu)
      nav.page-nav
        div.main-menu
          ul
            - for item in site.menu
              li(class=item.children && 'parent' || '')
                a(class=item.class, href=item.url) #{item.title}
        - for item in site.menu
          - if(item.children)
            ul(class="sub-menu "+item.class)
              - for child in item.children
                li
                  a(class=child.class, href=child.url) #{child.title}
                

    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='/js/script.js')